* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/*header*/
.header{
    padding-bottom: 10px;
}
.header-left{
}
.header-left img{
    padding-top: 10px;
}
.header-right{
}
.header-right .search-bar{
    padding-top: 20px;
}

.header-right #search{
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 11px;
    background-color: white;
    background-image: url(../image/home/iconsearch.png);
    background-size: 40px 40px;
    background-position: 154px 0px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 10px;
}
.navbar-header {
}
.menu-area ul li a {
    color: #79be66;
    text-transform: uppercase;
    font-weight: bold;
}
.menu-area ul li:hover a{
    color:#00a2d2;
}
.menu-area ul li.active a{
    color:#00a2d2;
}
/*end header*/
/*content*/
    /*menu*/
.content-trustory{
    z-index: 100;
    background-color: #5eb146 !important;
    margin-bottom: 40px;
}
.menu{
    color: white;
}
.caption {
    font-size: 24px;
    padding-left: 10px;
}
.menu-area-01{
    font-size: 14px;
    padding-left: 10px;
    padding-top: 7px;
}
.menu span{

}
.menu-area-02{
    background: #00a2d2;
    padding-top: 7px;
}
    /*end menu*/

    /*show-products*/
.signle-slider{

}
.signle-slider >img {
    width: 100%;
}
.show-products-control-left{
    left: 15px;
    top:40% !important;
}
.show-products-control-right{
    right: 15px !important;
    top:40% !important;
}
.carousel-indicators{
    visibility: hidden;
}
.information{
    background-color: #fafafa;
    padding: 20px 30px 30px 40px;

}
.information > h4{
    color: #5eb146;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}
.number {
    font-size: 18px;
    color: #404040;
}
.info-eng{
    font-size: 12px;
    color: #404040;
}
.info-chi{
    font-size: 12px;
    color: #404040;
    padding-bottom: 15px;
}
.icon-shop{
    font-size: 14px;
    color: #404040;
    text-decoration: none;
    display: inline-block;
}
.icon-shop  span{
    font-size: 11px;
    text-transform: uppercase;
    color: #404040;
    display: inline-block;
    font-weight: bold;
}
.icon-shop  i {
    display: inline-block;
    font-size: 36px;
    padding-right: 12px;
}
    /*end show-products*/
    /*portfolio*/
.portfolio{

}   
.portfolio-header{

} 
.portfolio-header p{
    font-size: 18px;
    font-weight: bold;
    color: #404040;
    display: inline-block;
}
.portfolio-header a{
    float: right;
}
.portfolio-header button{

}
.portfolio-list{

}
.portfolio-list .caption-port{
    font-size: 18px;
    font-weight: bold;
    text-align: center
}
.portfolio-list .info-pro{
    font-size: 12px;
    text-align: center;
}
.portfolio-list .thumbnail{
    border: 0px;
}
.media-carousel{
    
}
.border-portfolio-item{
    border-right: 1.5px solid #e9e9e9;
}
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.carousel-control.right 
{
    background-image: none;
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #b1b2b2;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    top: 30%;
}
/* Next button  */
.carousel-control{
    font-size: 23px;
    color: #0a0a0a;
    background-image: none !important;
    background-repeat: none;
    background-color: #fff;
}
.carousel-control.left
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #b1b2b2;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    top: 30%;
}
/* Changes the position of the indicators */
.media-carousel 
{
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel  li 
{
  background: #c0c0c0;
}
.media-carousel  .active 
{
 
}
.media-carousel img
{
    padding-bottom: 10px;
}
/* End carousel */

    /*end portfolio*/


/*end content*/
/*footer*/
.service{
    background-color: #f6f6f6;
    padding-top: 3%;
    padding-bottom: 5%;
}
.service  p, .service a{
    color: #6d6e71;
    font-size: 11px;
    line-height: 1.7em;
}
.service  h4{
    color: #66cc66;
    font-size: 12.2px;
} 
.service input {
    font-size: 11px;
    color: #6d6e71;
    width:100%;
}
.search-bar{
    position: relative;
}
#email {
    
} 
.service i{
    position: absolute;
    font-size: 14px;
} 
.service i >a {
}
.copy-right{
    padding-top: 20px;
}
.copy-right-left{
    display:inline-block;
}         

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon  { right:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  {  }
.right-addon input { padding-right: 30px; }
/*end footer*/
/* xs */
@media (max-width: 767px) {
    .banner>h3{
        display: none;
    }
    .tabs-trustory ul{
        height: 100%; 
        background-color: #e5e5e5; 
    }
    button.navbar-toggle {
      background-color: #fff;
    }
    .navbar-toggle .icon-bar {
      background-color: #333;
    }  
    .menu-area ul.nav {
      margin: 0;
      background-color: #6d6e71;
    }
    .navbar-toggle .icon-bar {
        background-color: #333;
        position: absolute;
        margin-right: -70%
    } 
    .copy-right-right{
        float: none !important;
    }
    .menu-area-02{
        padding-top: 7px;
        padding-bottom: 11px;
    }
    
}